page-speaker-list {

   .Subtitle {
     text-align: center;
     font-size: 0.95vw;
   }

   
    .iconf {
      font-size: 5.5vw;
      color: #ca9b24;
         transition: width 2s;
    }

    .card-md + ion-card {
    margin-top: 10px !important; 
}

}

     .cont {
       border-radius: 10px;
        max-width: 188px;
       float:left;
     }

         .cont1 {
            border-radius: 10px;
            max-width: 294px;
            float: left;
          }

          .num{
            text-align: center;
            font-size: 80px;
          }

    .eClaimSub{
      padding: 0 30px;
    }
    .icon {
      text-align: center;
    }

  // Todo: remove when this issue https://github.com/ionic-team/ionic/issues/11212 is fixed
  @media(max-width: 700px) {
      .round {
      width: calc(100% - 20px);
      min-height: 100px;
    }





    .iconf {
      font-size: 22vw;
      color: #ca9b24;
    }



  }